.checkContainer {
  background: none;
  border: none;
  height: 1.25rem;
  width: 1.25rem;
}

.checkContainer div {
  border: 2px solid #fff;
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}

.deleteButton {
  background: none;
  border: none;
  color: #fff;
}

.task {
  align-items: center;
  background: #eb6a5c;
  border: 2px solid #000;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.task p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-right: auto;
}

p.textCompleted {
  color: #000;
  text-decoration: line-through;
}
