.header {
  background-color: #ffd8a8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  position: relative;
}

.newTask {
  bottom: -1.5rem;
  display: flex;
  gap: 1rem;
  height: 3rem;
  max-width: 46rem;
  padding: 0 1rem;
  position: absolute;
  width: 100%;
}

.newTask input {
  background: #eb6a5c;
  border: 1px solid #eb6a5c;
  border-radius: 0.5rem;
  color: #fff;
  flex: 1;
  font-size: 1rem;
  height: 100%;
  padding: 0 1rem;
}

.newTask input::placeholder {
  color: #fff;
}

.newTask button {
  height: 100%;
  padding: 0 1rem;
  background: #eb6a5c;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
}
